@font-face {
    font-family: 'burgess-regular';
    src: url('fonts/burgess-regular.eot');
    src: url('fonts/burgess-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/burgess-regular.woff') format('woff'),
         url('fonts/burgess-regular.woff2') format('woff2'),
         url('fonts/burgess-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
     font-family: 'LoveLight-Regular';
     src:url('fonts/LoveLight-Regular.woff') format('woff'),
         url('fonts/LoveLight-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
     font-family: 'MATIOTTELEGANTFONT-Regular';
     src:url('fonts/MATIOTTELEGANTFONT-Regular.woff') format('woff'),
         url('fonts/MATIOTTELEGANTFONT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
     font-family: 'star';
     src:url('fonts/star.woff') format('woff'),
         url('fonts/star.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
     font-family: 'Moonstar';
     src:url('fonts/Moonstar.woff') format('woff'),
         url('fonts/Moonstar.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
     font-family: 'RotontoTrial-Regular';
     src:url('fonts/RotontoTrial-Regular.woff') format('woff'),
         url('fonts/RotontoTrial-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
     font-family: 'Renaissance-Regular';
     src:url('fonts/Renaissance-Regular.woff') format('woff'),
         url('fonts/Renaissance-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face{
     font-family: 'MermaidSwashCaps-Bold';
     src:url('fonts/MermaidSwashCaps-Bold.woff') format('woff'),
         url('fonts/MermaidSwashCaps-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: pink;
  background-size: 1800px;
}

h1 {
    font-family: LoveLight-Regular;
    font-size: 60px;
    text-align: center;
    color: #4c4c4c;
}

h2 {
    font-family: LoveLight-Regular;
    font-size: 40px;
    display: flex;
    position: absolute;
    left: 55%;
    top: 15%;
    color: #4c4c4c;
}

    .circle {
      width: 300px;
      height: 200px;
      border-radius: 50%;
      background-color: #e8a6b3;
      box-shadow: 0 0 20px rgba(0, 0, 0, 1);
      display: flex;
      position: fixed;
      top: -300%;
      left: -110%;
    }

    .circle p {
      color: #fff;
      font-size: 40px;
      font-weight: bold;
      display: flex;
      justify-content: center; 
      align-items: center;
      color: #4c4c4c;
      font-family: LoveLight-Regular;
    }

    .circle2 {
      width: 250px;
      height: 150px;
      border-radius: 50%;
      background-color: #e8a6b3;
      box-shadow: 0 0 20px rgba(0, 0, 0, 1);
      display: flex;
      position: fixed;
      top: -180%;
      left: -30%;
    }

    .circle2 p {
      color: #fff;
      font-size: 28px;
      font-weight: bold;
      display: flex;
      justify-content: center; 
      align-items: center;
      color: #4c4c4c;
      font-family: LoveLight-Regular;
    }

    .circle3 {
      width: 350px;
      height: 250px;
      border-radius: 50%;
      background-color: #e8a6b3;
      box-shadow: 0 0 20px rgba(0, 0, 0, 1);
      display: flex;
      position: fixed;
      top: -20%;
      left: -90%;
    }

    .circle3 p {
      color: #fff;
      font-size: 45px;
      font-weight: bold;
      display: flex;
      justify-content: center; 
      align-items: center;
      color: #4c4c4c;
      font-family: LoveLight-Regular;
    }

    .circle4 {
      width: 250px;
      height: 150px;
      border-radius: 50%;
      background-color: #e8a6b3;
      box-shadow: 0 0 20px rgba(0, 0, 0, 1);
      display: flex;
      position: fixed;
      top: 100%;
      left: 100%;
    }

    .circle4 p {
      color: #fff;
      font-size: 32px;
      font-weight: bold;
      display: flex;
      justify-content: center; 
      align-items: center;
      color: #4c4c4c;
      font-family: LoveLight-Regular;
    }

.slider1 {
  width: 300px; 
  height: 400px; 
  perspective: 600px; 
  display: flex;
  position: absolute;
  top: 15%;
  left: 30%;
}

.image-container1 {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate 15s linear infinite;
  border: 2px solid #fff; 
}

.slider2 {
  width: 300px; 
  height: 400px; 
  perspective: 600px; 
  display: flex;
  position: absolute;
  top: 80%;
  left: 30%;
}

.image-container2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10%;
  left: 40%;
  transform-style: preserve-3d;
  animation: rotate 15s linear infinite;
  border: 2px solid #fff; /* Add border to enhance the circular effect */
}

.slider3 {
  width: 300px; 
  height: 400px; 
  perspective: 600px; 
  display: flex;
  position: absolute;
  top: 100%;
  left: 80%;
}

.image-container3 {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate 15s linear infinite;
  border: 2px solid #fff; /* Add border to enhance the circular effect */
}

.slider4 {
  width: 300px; 
  height: 400px; 
  perspective: 600px; 
  display: flex;
  position: absolute;
  top: 100%;
  left: -80%;
}

.image-container4 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 20%;
  transform-style: preserve-3d;
  animation: rotate 15s linear infinite;
  border: 2px solid #fff; /* Add border to enhance the circular effect */
}

.slider5 {
  width: 300px; 
  height: 400px; 
  perspective: 600px; 
  display: flex;
  position: absolute;
  top: 100%;
  left: 30%;
}

.image-container5 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform-style: preserve-3d;
  animation: rotate 15s linear infinite;
  border: 2px solid #fff; /* Add border to enhance the circular effect */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.image-container6 {
  position: absolute;
  top: 80%;
  left: -150%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 600px;
  height: 700px;
}

.image-container7 {
  position: absolute;
  top: -340%;
  left: 80%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 500px;
  height: 600px;
}

.image-container8 {
  position: absolute;
  top: -110%;
  left: -140%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 350px;
  height: 450px;
}